.container__categories__slider {
    max-width: 1200px;
    margin-top: 30px;

    .categories__slider {
        .categories__slider__item {
            height: 300px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            border-radius: 5px;
        }
    }
}