@use "sass:map";
@import "styles/pages/all";

.featured__item {
    margin-bottom: 50px;

    &:hover {
        .featured__item__pic__hover {
            top: 80% !important;
        }

    }

    .featured__item__pic {
        height: 270px;
        position: relative;
        background-position:center !important;
        overflow: hidden;
        background-size: cover !important;
        

        .featured__item__pic__hover{
            position: absolute;
            left: 30%;
            top: 120%;
            width: 100%;
            text-align: center center !important;
            transition: all, 0.5s;

            li{
                list-style: none;
                display: inline-block;
                margin-right: 10px;

                &:hover {
                    svg {
                        background: #ffc107;
                        border-color: #ffc107;
                        color: #ffffff;
                        transform: rotate(360deg) !important;
                    }
                }
                svg {
                    padding: 10px;
                    height: 20px;
                    width: 20px;
                    border: 1px solid #ebebeb;
                    background: #ffffff;
                    color: #565555;
                    transition: all, 0.3s;
                    border-radius: 50%;
                }
            }
        }
    }

    .featured__item__text {
        text-align: left;

        p {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;

            a{
                color: black;
                text-decoration: none;
            }
        }

    }

}